* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    
  }
  
  .container{
    padding: 50px 0 0 0;
    width: 500px;
    height: 500px;
    background-color: #fc0d1b;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    z-index: 2;
    
    
  }
  
  .grid{
    width: 420px;
    height: 420px;
    background-color: white;
    display: flex;
    flex-direction: column;
  }
  .row{
    display: flex;
    flex: 1;
  }
  .cell {
    flex: 1;
    border: 1px solid lightgray;
  }
  
  .buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    /* cursor: pointer; */
    /* background-color: #FC0D1B; */
    
  }
  .btn {
    font-size: 16px;
    color: #ff6a00e3;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    font-weight: 600;
    cursor: pointer;
    
  }  
  
  .buttons h3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
    font-size: 26px;
  }

  .sliding-div{
    width: 500px;
    height: 80px;
    background-color: gold;
    border-radius: 0 0 20px 20px;
    margin-top: -85px; 
    z-index: 1;
    transition: transform 1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    
  }

  .sliding-div.shifted {
    transform : translateY(65px); 
  }


  .canvas-label {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    color: #fb0101;
  }

  .canvas-size {
    margin-top: 20px;
    border-style: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    width: 65px;
    height: 30px;
    background-color: #fff;
    color: #fb0101;

  }
.enter {
  margin-top: 20px;
  cursor: pointer;
  border-style: none;
  font-size: 16px;
  font-weight: 500;
  color: #fb0101;
  padding: 6px 25px;
  border-radius:5px;
  background-color: #fff;
}

@media (max-width: 520px) {
  body {
    transform: scale(0.5);  
    transform-origin: top center;  
  }
}


